<launch>

    <arg name="initial_pose_x" default="5.0"/>
    <arg name="initial_pose_y" default="5.0"/>
    <arg name="initial_pose_a" default="5"/>
    <arg name="robot_name" default="goalPole"/>

    <!--  ******************** Robot Model ********************  -->
    <param name="robot_description" textfile="$(find custom_models)/goalPole.urdf" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg robot_name)" 
        args="-x $(arg initial_pose_x) -y $(arg initial_pose_y) 
         -urdf -param robot_description -model $(arg robot_name)" respawn="false">
    </node>
</launch>